[2021-01-31 23:41] palimarium opened #27 "IstioOperator multiCluster:clusterName auth.go:35 certificate-provider "msg"="failed to authenticate request" "error"="could not get cluster cluster-1's kube client""
Hi Team,

I have tried to run istio-csr in a single  Istio(1.8.2) control plane cluster and works perfectly.

After i change the config for IstioOperator to [[1]](https://istio.io/latest/docs/setup/install/multicluster/multi-primary_multi-network/#configure-cluster1-as-a-primary):

[code]

and run the install the ingress and egress gateways fail to be installed :

This will install the Istio demo

[2021-02-01 09:31] JoshVanL commented on #27
Hi @palimarium,

Great to see it working for you in the default case!

Auth is currently limited to token, and only the default cluster name. This definitely something we want to include.

/feature
/assign

[2021-02-01 09:31] JoshVanL commented on #27
/kind feature

[2021-02-01 09:53] palimarium commented on #27
Hi @JoshVanL

Thank you that you are planning to extend the capabilities.

In the meantime is there any workaround for this? What is the default cluster name, that istio-csr use for auth? If I use this name in the multiCluster(clusterName) config, it should work?

Thanks!

[2021-02-01 09:56] JoshVanL commented on #27
@palimarium My feeling is `cluster.local` is one that would work.. though not tested. Intent to pick this up over the next couple days.

[2021-02-01 10:08] palimarium commented on #27
Tested now with  `cluster.local` but still doesn't seem to work.

[code]

I look forward to this release!

[2021-02-02 01:58] adnankobir opened #30 "using Vault Issuer"
The demo works using a self-signed issuer on istio 1.8.2, when I attempt to use a vault issuer (using helm values to target the vault issuer) I can see that the cert is signed successfully:

[code]

The `istio-ca-root-cert` configmap is also populated correctly and propagated to all the namespaces , so far so good, no errors reported on `istiod` nor `istio-csr`.

I then deploy two fresh workloads

[2021-02-02 16:17] JoshVanL commented on #30
Hey @adnankobir, apologies this isn't working right quite yet.

Would you be able to verify a couple things?

- The propagated root CA is the same CA you are expecting (the root CA). You can set this manually with `certificate.rootCA`
- Istiod has picked up and mounted its cert from the secret, and it _also_ has its CA Server disabled. There should be some indication in the istiod logs of what its

[2021-02-02 19:21] adnankobir commented on #30
thanks for the prompt response @JoshVanL

I've verified the following (sensitive and unnecessary info redacted):

- `The propagated root CA is the same CA you are expecting`

The propagated root CA (intermediate CA in Vault) looks correct:
**(_I'm uncertain if we require the root-ca from ACM-PCA here or both/full chain_)**

[code]

- `Istiod has picked up and mounted its cert from the secret, and

[2021-02-03 16:18] JoshVanL commented on #30
Thanks for all the detailed info @adnankobir !

I agree that it looks suspicious that it is duplicating the certificate chain here, and could be causing the issue.

Ideally it should be the root certificate that should be populated here, and the intermediate is kept in the chain when making connections. I wonder if overriding the propagating certificate to the root CA would solve the issue- we lik

[2021-02-04 11:06] #27 closed

[2021-02-05 23:12] adnankobir commented on #30
I believe this issue is related to https://github.com/jetstack/cert-manager/issues/2166. I've gone ahead and passed both the root and intermediate to istio-csr via `certificate. rootCA` but upon inspection of the `CertificateRequest` for the workloads, I can see in the `status` field that there is only a single CA, at this point I'm not sure if this is feasible until the vault-issuer can successfu

[2021-02-06 00:41] adnankobir commented on #30
now just patiently waiting for a stable cert-manager `v1.2.0`

[2021-02-06 00:41] #30 closed

[2021-02-25 19:32] nschhina opened #32 "Minimum Required Kubernetes Version"
What's the minimum required Kubernetes Version to run this CSR service with Istio 1.8, I'm using Kubernetes 1.16 and running into issues with Istio sidecar not being able to get the CSR to istiod and see the following errors on the istio-proxy container
`**unknown service istio.v1.auth.IstioCertificateService**`
`resource:default failed to generate secret for proxy: rpc error: code = Unimplemented

[2021-02-25 19:53] tmshort opened #33 "istio 1.9 support"
The README indicates that this only supports istio 1.7 and 1.8. What about 1.9 support?

[2021-03-03 17:17] #33 closed

[2021-03-03 17:19] JoshVanL commented on #33
Hi @tmshort, I have just merged in the config which works with istio v1.9 and passes the tests https://github.com/cert-manager/istio-csr/blob/master/hack/istio-config-1.9.1.yaml

I have also updated the README.md to reflect this.

Let me know if I can help any further.

[2021-03-03 17:20] JoshVanL commented on #32
Hi @nschhina, just to be clear, this is the integration of replacing the istiod as the CA server and replacing it with istio-csr. This is _not_ using the certificates.k8s.io CSR integration?

[2021-03-03 17:23] palimarium commented on #27
Hi @JoshVanL

I have tested your fix and works like a charm!
Any chance to get this pushed into a new release? so can be easily installed with the default helm chart?

Thanks a lot!

[2021-03-03 17:25] JoshVanL commented on #27
@palimarium sure thing! I'll push a v0.1.1 now.

[2021-03-03 17:51] nschhina commented on #32
@JoshVanL I understand. But do you know what's the minimum K8S version required for this to work? I successfully followed all the installation steps but istio sidecars are still not getting the certificate from cert manager istio csr

[2021-03-04 10:45] JoshVanL commented on #32
It would be the same required minimal version of your istio and cert-manager installation. What is the status of the created CertificateRequests?

[2021-03-10 00:06] adnankobir opened #36 "readiness probe failed"
After running istio-csr for some time, some pods fail readiness probe:

[code]

Describing the pod:
[code]

I would assume that after failed healthchecks, subsequent probes would succeed, but it looks like the pod never enters running state.

deleting the affected pod manually does bring it back and passes healthchecks as expected.

Nothing of note in the logs.

[2021-03-10 00:10] adnankobir commented on #36
Here is a more severe case, where all pods are in not ready state:

[code]
[code]

The only log of interested here is around RBAC:
[code]

[2021-03-11 16:32] JoshVanL commented on #36
Thanks for opening this @adnankobir. This is quite a concerning bug.. will spend some time to see if I can replicate the issue.

Roughly how long does it take for the probe to start failing?

[2021-03-11 18:00] adnankobir commented on #36
Thanks @JoshVanL

I don't have a rough estimate, it appears to be completely random, fortunately I have this deployed in 7 clusters, some clusters exhibit this behaviour within a matter of hours, others a couple of days.

As a workaround for now, what are the implications of remove the healthchecks or better yet simply doing a TCP check on the serving address?

[2021-03-11 18:25] JoshVanL commented on #36
Very strange. This readiness endpoint is managed through controller-runtime so that is where I'll be looking first. The only times where this check is set to false _after_ successful initialization, is during termination.

The implications of removing the check is that the pod will receive request traffic before it has initialized (fetched a serving cert and has begun serving). Changing to TCP _ma

[2021-03-29 16:29] schantaraud commented on #36
In case it helps, I had the same issue on 2 clusters at the exact same time, 30 days after the pods were created. Restarting the pods seems to have fixed it for now.

[2021-03-31 08:23] irbekrm commented on #36
I've briefly tested this (on GKE, k8s v1.19) that `istio-csr` pods become not ready if `cert-manager` webhook deployment goes down whilst `istio-csr` is processing some certificate requests.
It seems to remain not ready even after webhook is healthy again.
Adding liveness probe as @JoshVanL mentions above seems to fix that issue. I've not done any extensive testing on this though.

[2021-04-06 10:20] NickScottKortical opened #43 "Installation into existing istio cluster"
Hi, in the installation instructions it states: `Finally, install istio. Istio must be installed using the IstioOperator configuration changes within https://github.com/cert-manager/istio-csr/blob/master/hack/istio-config-1.8.2.yaml` This suggests that you would have installed all the previous crd's etc into a cluster without Istio running, is it possible to install this into a cluster that alread

[2021-04-12 13:35] JoshVanL commented on #43
Hi @NickScottKortical, currently the recommended method of installation is always to install istio _after_ istio-csr. The reason for this is that it will require a CA migration from the one which is created on boot, over to the istio-csr one. This is a tricky process to get right and is not fully supported by istio in an automated way https://blog.christianposta.com/diving-into-istio-1-6-certifica

[2021-04-12 15:10] NickScottKortical commented on #43
Great thanks for the detailed update. I have actually moved away from the GKE addon version of istio and am manually installing istio using istio operator after the cluster is created, so installing istio-csr before i do that step will work fine for me now. Thanks for the help!

[2021-04-12 15:13] JoshVanL commented on #43
No problem! I'll close the issue out but please feel free to reopen if needed.

/close

[2021-04-12 15:13] #43 closed

[2021-04-13 12:42] m1pl opened #45 "Wrong example"
https://github.com/cert-manager/istio-csr/blob/9a223f9222924a5d65b90742391f293c900c7ce2/hack/istio-config-1.9.1.yaml#L52-L55

Duplicate _name_.

[2021-04-29 12:21] #45 closed

[2021-04-30 21:58] perezjasonr opened #48 "Does this support Vault issuer?"
I followed these steps up to the point of having the vault issuer:
https://learn.hashicorp.com/tutorials/vault/kubernetes-cert-manager?in=vault/kubernetes

then I provided that issuer to istio-csr, by setting values, certificate.name to vault-issuer, so instead of self-signed issuer I have vault.

So I did not do this:
https://github.com/cert-manager/istio-csr/blob/master/hack/demo/cert-manager-bo

[2021-05-03 22:54] c0ffeec0der opened #49 "Feature request: istio-ca-root-cert to use secret instead of configmap"
The current code store root cert in configmap, can istio-csr store the cert in secret?

[2021-05-04 12:44] perezjasonr commented on #48
I guess this has something to do with how one presents the cert and the other loads it (inline?), which must have changed/fixed in newer versions. With latest cert-manager (chart default), and updating to istio 1.9.4 I was able to get past this issue. So not sure on which side the issue was.

[2021-05-07 22:20] janzantinge opened #50 "Specifying a trust domain"
I would like to deploy Istio CSR to a Istio cluster configured to use a specific trust domain (something other then `cluster.local`.

I poked around the Helm chart and the code to see if this was possible but I don't think it is. I've created a PR that I've built and deployed in my cluster which seems to do what I need.

**Environment details (remove if not applicable)**:
- Kubernetes version: 1.1

[2021-05-07 22:21] janzantinge commented on #50
The PR: https://github.com/cert-manager/istio-csr/pull/51

[2021-05-12 19:38] JoshVanL commented on #50
Fixed via https://github.com/cert-manager/istio-csr/pull/51
/close

[2021-05-12 19:38] #50 closed

[2021-05-17 15:21] VivekNidhi opened #52 "cert-manager-istio-csr:PSP Issues: Error: container has runAsNonRoot and image will run as root"
We have slightly restricted cluster  with PSP and since we are using GitOps. I have exported the istio-csr [https://github.com/cert-manager/istio-csr]
The generated manifest : https://github.com/VivekNidhi/gitops-istio/blob/main/istio-csr-manifest.yaml, but when we bring up csr getting the below error. Is it possible to know the exact privileges required or any resolution for this.

Error:
Pulling

[2021-05-17 18:59] neerajaustin opened #53 "Generate workload certificates with DNS in the SAN"
We have an application where the DNS in subject or san is validated when checking the communcation with mounted istio-proxy certs. I noticed that Istio used to have the DNS field in the SAN but now its only the URI.

I have tried istio-csr and I like that you can control the issuer and renew the CA certificates but can we use a specific workload certificate configuration as well to include DNS in

[2021-05-18 17:16] JoshVanL commented on #53
Hi @neerajaustin, glad you like the project :)

istio-csr acts as the RA for istio which will hand off requests to the configured cert-manager CA once it's happy. Since we can't mangle the request or sign what we want like the CA can, we can't add any extras to the request. This would need to be configured on the istio side which I'm not sure can be done.

[2021-05-19 19:32] JoshVanL commented on #52
Hi @VivekNidhi, I have opened up #54  which should fix this issue. Once merged, I will create a new release with this image.

If you have time, it would be great if you could try this image yourself to make sure it properly fixes your issue.

[2021-05-20 10:17] #52 closed

[2021-05-21 18:07] neerajaustin opened #55 "Support for multiple istio ingress gateways"
I am noticing that there is a hard dependency on the istio-system namespace with respect to how the workload certificates can be created. I have an environment, where istiod pods and the regular istio-ingressgateway pods are in istio-system, but I need to use a custom istio-ingressgateway also for my own namespace.

Istio allows you to do this and if not using istio-csr, the "cacerts" setup does w

[2021-05-21 18:13] neerajaustin commented on #55
I found the problem. The istiod-tls mount can be ignored actually for gateways. only the configmap for istio-ca-root-cert is needed. so i customized it and its working fine.

[2021-05-21 18:13] #55 closed

[2021-05-21 18:24] neerajaustin opened #56 "cert-manager-istio-csr pods lose readiness when new pods are being deployed."
I have been noticing this behavior consistently when new pods are deployed with sidecars, I start seeing the istio-csr pod with 0/1 status. If you need more information, I can try to provide.

I am using Istio 1.9.2 with K8s 1.20

I see this error on the istio-csr pod logs.

E0521 19:48:39.995122       1 event.go:264] Server rejected event '&v1.Event{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, O

[2021-05-25 13:16] lokeshwaran100 commented on #53
Hi @JoshVanL, istio-csr actually checks for the presence of SAN field for the incoming CSR from the workload and aborting the operation, if it contains any SAN fields. Why so? Any specific reason behind this check?
https://github.com/cert-manager/istio-csr/blob/9a223f9222924a5d65b90742391f293c900c7ce2/pkg/server/auth.go#L64

`// CreateCertificate is the istio grpc API func, to authenticate, author

[2021-05-25 13:36] JoshVanL commented on #53
@lokeshwaran100 istio-csr is responsible for verifying whether the contents of the incoming CSR matches the requestors identity. In istio, this maps a Kubernetes ServiceAccount into a spiffe ID as a URI SANs. I would be interested in the use case for wanting other SANs in istio workloads certificates, and how istio-csr can safely verify they match these identities before signing.

[2021-05-26 08:42] travnewmatic opened #57 "do the resources in cert-manager-bootstrap-resources.yaml need to go into the istio-system namespace?"
i was having problems with my cert-manager-istio-csr pod coming up.

should https://github.com/cert-manager/istio-csr/blob/master/hack/demo/cert-manager-bootstrap-resources.yaml be namespaced to `istio-system`?

`kubectl -n istio-system apply -f https://github.com/cert-manager/istio-csr/raw/master/hack/demo/cert-manager-bootstrap-resources.yaml` works for me

[2021-06-04 02:46] lokeshwaran100 commented on #53
@JoshVanL: The use case that I'm looking for, where the certificate SAN (identity) needs to be set to 5G NF FQDN (or IP) for inter NF communication as per 3GPP 33.310. Do you think that is possible to implement in istio-csr? Or this has to be done from the istio side?

[2021-06-08 22:40] janzantinge opened #61 "Istio CSR certificate DNS names"
I have a need to send istio-csr requests from "outside" the cluster. istio-csr is fronted by a load balancer and a route53 name. The certificate presented by istio-csr is only good for the internal (to the k8s cluster) name (`cert-manager-istio-csr.cert-manager.svc`).

I need to add a command line parameter that can allow me to set the dns-names that will be added to istion-csr's CSR ...

I've cre

[2021-06-09 21:42] JoshVanL commented on #61
Fixed in #60
Thanks again @janzantinge !
/close

[2021-06-09 21:42] #61 closed

[2021-06-10 17:03] JoshVanL commented on #57
Hi @travnewmatic, that's correct, they need to exist in the istio-system namespace. The CertificateRequests that are created by istio-csr are also in istio-system and so need to be able to reference the namespaced Issuer.

[2021-06-10 17:11] JoshVanL commented on #36
Thanks all. I have managed to track down this issue;

If there is a transient network connectivity error or similar, istio-csr will lose leader election or fail to renew the lease. If this happens the pod become unready. To resolve this, istio-csr now correctly exits which will allow either another istio-csr to assume the leader, or for the pod to come back up as the leader.

This has been fixed i

[2021-06-11 07:19] lokeshwaran100 opened #64 "Is there way to hot restart envoy proxy using istio-csr? I'm trying to renew root certificate by changing the istio-ca secret manually. The workload does not pick the new root certificate unless I delete the workload pods"

[2021-06-11 07:20] lokeshwaran100 commented on #64
I'm trying to renew root certificate by changing the istio-ca secret manually. The workload does not pick the new root certificate unless I delete the workload pods.

[2021-06-11 11:39] JoshVanL commented on #64
Hi @lokeshwaran100, thanks for opening the issue. I'm also interested in being able to do this in a less destructive way.

Another option could be to instead kill the istio-proxy container, which causes the container to restart, but not recycle the entire pod:

[code]

[2021-06-12 12:14] lokeshwaran100 commented on #64
Hi @JoshVanL, Thank you. Terminating the istio-proxy container worked.
But this current approach to work, it is also required to delete istio-csr agent pod and istiod pod.
Will there be a better way to do this in future releases?

[2021-06-12 12:47] JoshVanL commented on #64
@lokeshwaran100 for istiod and istio proxies, this functionality needs to come from istio itself really. I believe CA rotation in a more first class way is something they would like to tackle in 2021.

If istio-csr is reading the CA from file, we could definitely do a better job in detecting changes and writing out the new bundle.

[2021-06-14 14:06] SpectralHiss opened #65 "Istio-csr should expose critical prometheus metrics"
Istio-CSR is likely to be a critical path component for the availability of Istio deployment, there should be white box metrics into its behaviour.

If it is down or if the grpc server is having trouble servicing citadel client requests it's important to alert.

The kind of metrics that spring to mind:
- csr_request_initiated_count.
- csr_request_completed_count (maybe including a GRPC code label

[2021-06-20 14:14] SpectralHiss commented on #64
One potential solution to help would be to have another sidecar on the workloads running https://github.com/jimmidyson/configmap-reload,
which can watch when the trust bundle changes and send a restart proxy call to the proxy api on localhost:15000/quitquitquit,
I've tested that by just by rollout restarting istio-csr and calling quitquitquit manually it works. so this could slightly improve the m

[2021-06-23 14:15] SpectralHiss commented on #64
After further consideration it's probably not a good idea to run a watcher just for this particularly infrequent operation, can just have a step to run the exec SIGINT until Istio provides with a way to do this. Should note that any istio CA including citadel will have the exact same issue here.

[2021-06-27 21:51] adnan-kobir-sp commented on #36
When can we expect the next release to include this fix?

[2021-06-29 22:16] saturnism opened #73 "Serving CertificateRequest failures should be deleted"
I experienced some issue with `istio-csr` trying to renew its own serving certificate. Upon fetch failure, the `CertificateRequest` resource is kept and not deleted.
 * https://github.com/cert-manager/istio-csr/blob/9ee95f1fb8b04103217cb7738bf81ce42069c354/pkg/tls/tls.go#L158

But renewal is happening periodically https://github.com/cert-manager/istio-csr/blob/9ee95f1fb8b04103217cb7738bf81ce42069c

[2021-06-30 09:42] JoshVanL commented on #73
Thanks @saturnism, I'll have a look at fixing this.

/assign

[2021-06-30 18:47] #65 closed

[2021-07-01 11:31] #73 closed

[2021-07-02 09:45] JoshVanL commented on #57
Closing this issue.

Feel free to open if needed.

/close

[2021-07-02 09:45] #57 closed

[2021-07-02 09:46] JoshVanL commented on #36
This fix has been merged as part of the [v0.2.0](https://github.com/cert-manager/istio-csr/releases/tag/v0.2.0) release.

Closing this for now, but please feel free to open if you continue to have issues.

/close

[2021-07-02 09:46] #36 closed

[2021-07-12 08:33] JoshVanL commented on #56
Should be fixed in #62 and is released in `v0.2`.

[2021-07-12 08:33] JoshVanL commented on #56
/close

[2021-07-12 08:33] #56 closed

[2021-07-26 10:39] jithkaringada-corp opened #80 "using vault issuer expects common name from cert-manager-istio-csr when attempting to create server cert"
When I attempt to run this command:
helm --kube-context minikube install -n cert-manager -f istio-csr-values.yaml cert-manager-istio-csr jetstack/cert-manager-istio-csr

I get the following error:
error: failed to fetch initial serving certificate: failed to sign serving certificate: failed to wait for CertificateRequest cert-manager/istio-csr-hp5m5 to be signed: created CertificateRequest has fai

[2021-07-26 10:42] jithkaringada-corp commented on #80
When I update the vault policy to have require_cn: false, then it works but I would like to use CN. How do I get the cert-manager-istio-csr to supply a common name when requesting for a certificate?

[2021-07-26 11:01] JoshVanL commented on #80
Hi @jithkaringada-corp, common names are not used for istio certificates and instead make use of spiffe URIs, and DNS alt names for istiod's webhook. istio-csr similarly only uses DNS.

Whilst we _could_ change istio-csr to use a common name for its serving certificate, it is superfluous and you would have the same issue for istio's own certs.

What is the reason for the common name requirement?

[2021-07-26 12:40] perezjasonr commented on #48
closing issue since it seems to stop happening with newer cert manager and istio 1.9

[2021-07-26 12:40] #48 closed

[2021-07-26 19:58] bpotaczek opened #81 "istiod certificate duration too short"
Using AWS PCA the minimum cert duration is 24h and the istiod certificate is hard coded to 1h in the chart. Can this be made configurable in the values.yaml file?

https://github.com/cert-manager/istio-csr/blob/master/deploy/charts/istio-csr/templates/certificate.yaml#L16

[2021-07-27 02:33] jithkaringada-corp commented on #80
@JoshVanL I am setting up my minikube instance with istio, and it seems like I would have run into issues with workload certs. I hadn't got that far as I spent a lot of time trying to figure out the CN thing. It looks like if you don't provide vault the specific configuration on the role to not require common names, it will default to requiring it. It may be worth noting and documenting for vault

[2021-07-27 11:46] JoshVanL commented on #80
Thanks @jithkaringada-corp, glad the issue has been fixed. I will mark this issue as closed with a mind on improving documentation for what kinds of policy istio certificates require.

Feel free to re-open if something else comes up.

/close

[2021-07-27 11:46] #80 closed

[2021-07-27 11:46] JoshVanL commented on #81
Thanks for the issue @bpotaczek, that is indeed very annoying :smile:

I will open a PR to make this value configurable and make a new Helm Chart version available.

/assign

[2021-07-27 16:13] #81 closed

[2021-07-27 16:35] JoshVanL commented on #81
@bpotaczek The v0.2.1 Helm Chart is now available and this variable should be configurable using the value `app.tls.istiodCertificateDuration`. Please give it a go :smile:

[2021-07-27 16:40] bpotaczek commented on #81
Thanks @JoshVanL, looks good.

I forgot to add that AWS also requires a commonName set on the Certificate object but I can open a new issue for that. I had updated it a few weeks ago locally and forgot about it.

[2021-07-27 16:42] bpotaczek opened #83 "commonName required for AWS PCA"
AWS PCA expects the commonName to be passed in as part of the CSR. Adding `commonName: istiod.istio-system.svc` in the Certificate.yaml file was all that was needed.

[code]

[2021-07-27 17:09] JoshVanL commented on #83
Thanks @bpotaczek! It is surprising to me that this works as the istio workloads themselves using the same Issuer don't have a CommonName set IIRC.

[2021-08-10 22:56] mvkzzz opened #84 "csr readiness probe failed, istio ingress pod also failed"
The pod was deployed with latest image but still failed. Nothing of note in the logs.

docker images | grep csr
quay.io/jetstack/cert-manager-istio-csr              v0.2.0              5bcc16c3bb27        5 weeks ago         103MB

kubectl describe po cert-manager-istio-csr-58b7d4c64c-f4v82 -n cert-manager
Name:         cert-manager-istio-csr-58b7d4c64c-f4v82
Namespace:    cert-manager
Priority:

[2021-08-10 23:04] JoshVanL commented on #84
Thanks @mvkzzz, can you please also share the logs of istio-csr?

[2021-08-10 23:09] mvkzzz commented on #84
kubectl logs cert-manager-istio-csr-58b7d4c64c-f4v82 -n cert-manager
2021-08-10T22:22:55.490461Z	info	klog	Waited for 1.060796989s due to client-side throttling, not priority and fairness, request: GET:https://10.96.0.1:443/apis/admissionregistration.k8s.io/v1beta1?timeout=32s
2021-08-10T22:22:56.340063Z	info	klog	attempting to acquire leader lease istio-system/istio-csr...
2021-08-10T22:22:56.342

[2021-08-10 23:23] JoshVanL commented on #84
Are there any other logs @mvkzzz? Also, was the pod ever in a healthy state and has it requested it serving certificate successfully?

[2021-08-10 23:26] mvkzzz commented on #84
no other logs . pod is not ready
[root@k8s-master-0 istio-ingress]# kubectl get po  -n cert-manager
NAME                                       READY   STATUS    RESTARTS   AGE
cert-manager-77dbdb44db-nnlb5              1/1     Running   1          5d21h
cert-manager-cainjector-7fb86864b5-hpk72   1/1     Running   7          5d21h
cert-manager-istio-csr-58b7d4c64c-f4v82    0/1     Running   1

[2021-08-10 23:28] JoshVanL commented on #84
Is the referenced issuer ready, and there are no pending CertificateRequest?

[2021-08-10 23:29] mvkzzz commented on #84
how to check this ?

[2021-08-10 23:32] mvkzzz commented on #84
kubectl describe certificate -A
Name:         ingress-cert-def
Namespace:    default
Labels:       <none>
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"cert-manager.io/v1alpha2","kind":"Certificate","metadata":{"annotations":{},"name":"ingress-cert-def","namespace":"default"...
API Version:  cert-manager.io/v1
Kind:         Certificate
Metadata:
  C

[2021-08-10 23:35] JoshVanL commented on #84
You have referenced an Issuer named Issuer-ca.
This should be in the cert-manager namespace.

kubectl get issuers -n cert-manager

You can read about the Issuer and CertificateRequest resources here:

https://cert-manager.io/docs/configuration/

https://cert-manager.io/docs/concepts/certificaterequest/

[2021-08-10 23:38] mvkzzz commented on #84
kubectl get issuers -n istio-system
NAME              READY   AGE
istio-tls         True    31h
istio-tls2        True    23h
selfsigned        True    31h
selfsigned-def    True    23h
selfsigned-def1   True    23h

[2021-08-10 23:39] JoshVanL commented on #84
Yep, looks like you are referencing an issuer that doesn’t yet exist.

[2021-08-10 23:41] mvkzzz commented on #84
you mean I should create an issuer named  istio-ca?  I will try this

--issuer-name=istio-ca
--issuer-kind=Issuer

[2021-08-11 03:20] mvkzzz commented on #84
2021-08-11T02:46:06.989373Z	info	klog	attempting to acquire leader lease istio-system/istio-csr...
2021-08-11T02:46:06.990343Z	info	klog	manager "msg"="starting metrics server"  "path"="/metrics"
2021-08-11T02:46:08.306969Z	info	klog	cert-manager "msg"="created CertificateRequest" "identity"="istio-csr-serving" "name"="istio-csr-7hsrl" "namespace"="istio-system"
2021-08-11T02:46:08.332434Z	info	kl

[2021-08-11 07:22] mvkzzz commented on #84
const (
	identityAnnotation = "istio.cert-manager.io/identities"
)

func (m *manager) Sign(ctx context.Context, identities string, csrPEM []byte, duration time.Duration, usages []cmapi.KeyUsage) (Bundle, error) {
	cr := &cmapi.CertificateRequest{
		ObjectMeta: metav1.ObjectMeta{
			GenerateName: "istio-csr-",
			Annotations: map[string]string{
				identityAnnotation: identities,
			},
		},

seems

[2021-08-11 08:04] JoshVanL commented on #84
@mvkzzz, please review the documentation for the [SelfSigned Issuer](https://cert-manager.io/docs/configuration/selfsigned/) where that annotation is required.

The SelfSigned Issuer is not appropriate for signing istio workloads against because this will not produce a real PKI, and therefore mTLS won't work. Please use another Issuer, such as a [CA Issuer](https://cert-manager.io/docs/configurati

[2021-08-11 14:25] JoshVanL commented on #84
@mvkzzz The keys and certs are kept in memory as far as I'm aware. You might be able to discover them, or at least the certificate, via  istioctl:

[code]

With `--preserve-certificate-requests=false` set on istio-csr, the CertificateRequests will be deleted. You can set this to true if you would like to see them for testing.

[2021-08-11 18:23] smarunich opened #85 "[aks][istio-csr][venafi] errors ``` error klog grpc_server "msg"="failed to authenticate request" "error"="could not get cluster csrdemo-aks-2's kube client" "serving_addr"="0.0.0.0:6443" ```"
Hi Team,

We have done similar tests on GKE with no issues, however exactly the same config does fail on AKS, we are able to acquire certs in the regular way, however istio-csr component is not working. Have someone encountered similar issues on Azure Kubernetes Service?

[code]

[code]

[2021-08-11 19:04] JoshVanL commented on #85
No problem @smarunich! :slightly_smiling_face:

This certainly isn't obvious and we can do better here in the docs. My next TODO is overhaul the docs and create a list of gotchas/FAQs.

[2021-08-17 17:36] keithmattix opened #86 "Feature Request: Support Multiple Revisions"
Due to the explicit certificate naming in the [helm chart](https://github.com/cert-manager/istio-csr/blob/master/deploy/charts/istio-csr/templates/certificate.yaml), istio-csr's helm chart doesn't support non-default revisions.

Are there any plans to remediate this? One approach that comes to mind would be to accept an array of revisions in the helm chart (with the option to exclude the default r

[2021-08-17 17:40] JoshVanL commented on #86
Hi @keithmattix, could you expand a bit on what you mean by `revision`, do you mean the `revisionHistoryLimit`?

[2021-08-17 20:22] keithmattix commented on #86
Thanks for the response @JoshVanL; sorry I should've been more clear. I'm referring to Istio [revisions](https://istio.io/latest/docs/setup/upgrade/canary/#control-plane) for use with canary upgrades.

[2021-08-18 13:34] JoshVanL commented on #86
Thanks @keithmattix, wasn't familiar of this feature with istio but is pretty cool!

Would exposing something _like_ `app.istioRevision` in the helm chart make sense here?

/kind feature
/assign

[2021-08-18 14:41] keithmattix commented on #86
Yes, I think something like that could work! It would probably need to be a list/array since one would generally have multiple revisions in a cluster during a canary upgrade. `app.istioRevisions` would probably suffice.

[2021-08-18 15:52] JoshVanL commented on #86
Cool, thanks @keithmattix. I have a branch at work in the background :slightly_smiling_face:

Will likely cover the following cases:
- Empty revision list `[]` -> `""`
- Default in the revision list gets converted `"default"` -> `""`
- Multiple revisions would produce `["default", "foo", "bar"]` -> `"", "foo", "bar"`

Do we need to account for the case where the Helm revision value has both `""` a

[2021-08-19 03:44] keithmattix commented on #86
You could probably just use the `uniq` function in Helm to filter the list before looping over it right?

[2021-08-23 05:44] xUnholy commented on #49
@c0ffeec0der CAs are public, why do you want it to be a secret?

[2021-08-23 06:54] xunholy opened #87 "Failing to integrate with GCP CAS"
# Description

We're using GCP CAS as our Cluster Issuer, which has been setup and works completely fine e2e using the traditional certificate resources to request certs for Ingress TLS certs. However, we'd like to use the same issuer with istio-csr to be able to issue these certs to our services running in the mesh so we can provide mTLS with our services in the cluster with the same CA which wil

[2021-08-23 09:55] c0ffeec0der commented on #49
@xUnholy

Correct it is public. However, the nature of configmap as described in https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/

is to decouple configuration

where secret as described in https://kubernetes.io/docs/concepts/configuration/secret/

is to store sensitive data

given than CA is more to data rather than config. It's better to store as secret, and it w

[2021-08-23 15:44] JoshVanL commented on #49
Storing the CA in a config-map is a constraint set by istio. This matches the behavior of Kubernetes itself which stores the API server CA in the ConfigMap `kube-root-ca.crt` in every namespace.

Since there is nothing istio-csr can do about this I will close the issue. If this changes in future we can re-visit.

/close

[2021-08-23 15:44] #49 closed

[2021-08-23 15:58] JoshVanL commented on #87
Thanks for the detailed issue @xUnholy!

I've drawn over your diagram a bit which hopefully should help things (apologies for my use of paint :joy:).

![istio-csr-diagram-labelled ](https://user-images.githubusercontent.com/15893072/130478328-38c81f37-df85-4a5b-8aa8-abccc6c690e3.png)

The flow for a istio workload is 1. mount in the CA certificates from the config-map that istio-csr manages, 2. th

[2021-08-23 20:20] assafmanzur commented on #83
@bpotaczek Can help? I'm getting `api error ValidationException: 1 validation error detected: Value '0' at 'validity.value' failed to satisfy constraint: Member must have value greater than or equal to 1` when using `AWSPCAClusterIssuer` as issuer. the cert manager works fine outside the istio-csr

can you please upload the certificate.yaml and is there any custom values except those?

[code]

Tha

[2021-08-23 23:58] xUnholy commented on #87
Thanks @JoshVanL that makes a lot more sense, I did observe that the istio-proxy was trying to connect to the `cert-manager-istio-csr` when I had a deny by default network policy which is fixed.

My error from the istio-proxy is as follows:

[code]

This suggests to me the istio-proxy side car isn't loaded with the CA that is being used with the `cert-manager-istio-csr` workload, what would cause

[2021-08-24 13:17] bpotaczek commented on #83
@assafmanzur that looks to be a different error. For testing you can use one of the example certs from the aws-pca project.

https://github.com/cert-manager/aws-privateca-issuer/blob/master/config/examples/certificates/rsa-2048.yaml

[2021-08-24 15:18] JoshVanL commented on #87
@xUnholy that does seem odd to me. Could you have a look at the root CA that is passed to the istio proxy to make sure it is the root CA for your Google CAS?

` kubectl exec -n foo httpbin-74fb669cc6-jf67w -c istio-proxy -- cat /var/run/secrets/istio/root-cert.pem`

[2021-08-24 16:18] assafmanzur commented on #83
Thanks @bpotaczek !  it's actually what I did but maybe I'm missing something in the flow,
I've issuer running in istio-system:
aws-pca-issuer-1629722682-aws-pca-issuer-datorama-io-68d652z7pg
cert manager runs in cert-manger ns and when I'm generating a certificate it generates it successfully

Now, using helm install istio-csr with default setting and only update the values that I've mentioned in

[2021-08-24 16:44] assafmanzur commented on #83
Seems like the format 1h was the issue.. after updating to 1h0m0s the certificate request was updated to true

[2021-08-24 22:35] xUnholy commented on #87
@JoshVanL I indeed think this is the error, the token isn't being mounted.

[code]

I don't fully understand how the side car envoy gets this root cert in this model, I would have assumed `cert-manager-istio-csr` would have supplied it? Or is that still suppose to happen through istiod?

[2021-08-24 23:00] JoshVanL commented on #87
@xUnholy Indeed it is istio-csr which is populating this configmap in all namespaces.

This should be on the istio proxy container rather than the main httpbin one:

[code]

It should come from a mount which gets patched in on the pod by the istio mutating webhook:

[code]

[code]

You can also check via the configmap itself too:

[code]

[2021-08-24 23:03] JoshVanL commented on #87
@xUnholy if it helps, these are the manifests which I used when setting up with google-cas if you want to compare notes :slightly_smiling_face:

[code]

[code]

[2021-08-24 23:06] xUnholy commented on #87
@JoshVanL Thanks for the tips.

[code]

The configmap in the namespace is correct

[code]

I suppose I'll take a look and compare notes against your configuration and check, I should probably mention we're using ASM vs OSS Istio, but essentially the same config is mirrored through the `istioOperator`.

I can mention I didn't have

[code]

I'll add these values though and check, but i don't know if

[2021-08-24 23:21] JoshVanL commented on #87
@xUnholy aha- this sounds like the culprit. I'm not very familiar with ASM myself so am not entirely sure how it is propagating the CA certificate, but would expect it to be possible to re-enable the sidecar injector to have those mounts there.

[2021-08-25 10:27] xUnholy opened #89 "Support ARM64 images"
Is there any scope for adding ARM64 compatibly? People using Graviton 2 instances, or running on other ARM SBC devices will run into this architecture issue.  You could use docker buildx to build multi-architecture images.

[code]

[2021-08-25 18:25] assafmanzur opened #90 "Failing integrate AWSPCA - CSR must mark the SAN extension critical when it has an empty subject"
**_CSR must mark the SAN extension critical when it has an empty subject_**

cert-manager and awspca issuer work without any issue, I can create certs via `kind: certificate`
I've installed istio csr and configure it like this:

[code]
when the istio-csr starts it create csr via the istio-csr and get approved and ready, but then it's create one more csr for istiod certificate and fail with this:

[2021-08-26 16:46] #90 closed, assigned to nobody

[2021-08-31 09:04] assafmanzur commented on #90
@JoshVanL any idea? am I missing something?

[2021-09-01 00:58] xUnholy commented on #89
@JoshVanL did you need any help? I have some arm64 nodes I can test out any images you're building out at present.

[2021-09-01 15:56] JoshVanL commented on #89
Hi @xUnholy, apologies for the delay. I have opened a PR and will push the image shortly after it merges.

[2021-09-02 22:00] JoshVanL commented on #89
@xUnholy A multi-arch image and new helm chart version has been pushed. Let me know if things are working for you.

[2021-09-05 16:04] assafmanzur opened #94 "Can't get aws pca to work"
https://github.com/cert-manager/istio-csr/issues/90#issuecomment-906957672
Workload keeps getting the `cluster.local` instead of my private domain

[2021-09-05 22:10] xUnholy commented on #89
Testing it out now. Here was the below findings:

[code]

[code]

@JoshVanL

[2021-09-05 22:16] xUnholy commented on #89
```Error: failed to fetch initial serving certificate: failed to sign serving certificate: failed to wait for CertificateRequest istio-system/istio-csr-89jlq to be signed: created CertificateRequest has failed: [{Approved True 2021-09-05 22:15:41 +0000 UTC cert-manager.io Certificate request has been approved by cert-manager.io} {Ready False 2021-09-05 22:15:42 +0000 UTC Failed Failed to wait for

[2021-09-05 22:25] JoshVanL commented on #89
Hi @xUnholy :slightly_smiling_face:

This edge case is quite surprising to me. I wouldn't have expected that value to ever be nil. Will fix that..

This looks as though you are attempting to use a public ACME server for your istio-csr issuer which won't work. You will need to use an Issuer which is able to sign certs for private DNS/URIs.

[2021-09-05 22:34] xUnholy commented on #89
@JoshVanL thanks for the advice, so rather than using LE as a public ACME, I will need to have LE create a CA internally and then reference that as an issuer if my understanding is correct?

[2021-09-05 22:42] JoshVanL commented on #89
@xUnholy no, LE etc. won't issue intermediates since you could then sign yourself google.com which would be publicly trusted :grimacing:

You will need to use something like the [CA Issuer like in the demo example](https://github.com/cert-manager/istio-csr/blob/master/hack/demo/cert-manager-bootstrap-resources.yaml), [Vault, Venafi](https://cert-manager.io/docs/configuration/), or an [appropriate

[2021-09-05 22:45] xUnholy commented on #89
Perfect, thanks for confirming. Gives me a reason to redeploy origin-ca-issuer which appears to be supported.

[2021-09-05 22:55] JoshVanL commented on #89
@xUnholy, I think this will also have problems as this Issuer is expecting issued certificates as being used for TLS between the Cloudflare servers and your services.

External issuers that as far as I know would work are aws-privateca-issuer, google-cas-issuer, and step-issuer. Pricing varies! :slightly_smiling_face:

[2021-09-06 10:06] JoshVanL commented on #89
Issue has now been resolved and confirmed ARM images are working.

/close

[2021-09-06 10:06] #89 closed

[2021-09-21 10:48] joshmue opened #103 "Not supplying static root CA "effectively making istio-csr TOFU""
First, thanks for this project! It glues together istio and cert-manager really well.

I am curious about the recent change in the README.md: It now highly recommends to explicitly supply a static root CA (PR #101):

I am not sure though, how the loading of the root CA cert from the serving certificate request's `CertificateRequest.status` would make istio-csr TOFU.

- When supplying it statically

[2021-09-21 11:17] JoshVanL commented on #103
Hi @joshmue, thanks for the kind words! :slightly_smiling_face:

I think everything you said here is correct, and perhaps the wording ("effectively") could be changed here to be less alarming..

Indeed, the idea here is we are trying to protect against a malicious actor who, by some means, is able to highjack signing (update permissions on CertificateRequests) for the istio-csr signing service and

[2021-09-21 16:09] joshmue commented on #103
Hi @JoshVanL, thank you very much for the rapid and detailed response! This really clears this topic up for me.

So it is more like a tradeoff between operational simplicity via automation vs. implementing CA pinning to reduce the security impact of e. g. cert-manager tokens being leaked.

When reading "TOFU" and its Wikipedia page, I got the impression that istio-csr would be vulnerable to simple

[2021-09-21 17:44] JoshVanL commented on #103
Yes, I think that is a fair assessment.

I agree, I'll open a PR to change this wording and clarify.

Yes, exactly, One could store their org CAs in [Google Secret Manager](https://cloud.google.com/secret-manager) (other cloud solutions are available :stuck_out_tongue_winking_eye:), and use [kube secret store](https://github.com/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp) to mount t

[2021-09-23 08:57] joshmue commented on #103
:+1:

As everything is clarified and the PR is merged, I'll close this issue. Thank you again, @JoshVanL!

[2021-09-23 08:57] #103 closed

[2021-09-27 12:48] SantiMunoz opened #105 "Using Vault as an issuer doesn't work"
Using Vault as an issuer doesn't seem to generate correct certificates for the pods. When I try to make a request from one service to another I get this error:
[code]
[code]

The Vault issuer is correctly installed and istio has been installed pointing to the istio-csr service as [described](https://github.com/cert-manager/istio-csr/blob/main/hack/istio-config-1.10.0.yaml#L14) in the README of thi

[2021-09-27 14:38] JoshVanL commented on #105
Hi @SantiMunoz, can you please confirm that the signed certificates have both "client auth", and "server auth" key usages set. This is configured through vault.

[2021-09-27 16:15] SantiMunoz commented on #105
Hello @JoshVanL, thanks for the quick response!
I've issued a certificate directly from vault with the kubernetes role I use to sign them in Istio, and I can see that the new certificate has the client and server extended key usages

[code]

I can't find the way to check this for the CSRs from istio as I don't find them in the kubernetes cluster.

[2021-09-27 16:26] JoshVanL commented on #105
If you enable the `--preserve-certificate-requests` option on istio-csr, it will preserve the CertificateRequests it creates which will include the signed certificate.

It could also potentially be a CA problem. Is the CA that is distributed within the configmaps in every namespace what you are expecting?

[2021-09-27 17:41] SantiMunoz commented on #105
This is an example of the CSR for the `productpage` service
[code]
The certificate signed by Vault we can see the following data, and signed by the correct intermediate:
[code]
In all the namespaces I can see the `istio-ca-root-cert` configmap with the same CA we find in the certificate requests.

[2021-09-28 09:55] JoshVanL commented on #105
Hmm, could you check that you have the correct certificate chain you are expecting on the istio proxy itself? You should have the full chain, including the root in the chain, and the root in the root cert field.

[code]

[2021-09-28 12:23] SantiMunoz commented on #105
I've managed to fix it!
After checking the full chain (thanks for the tip!) I noticed that the intermediate was duplicated and the root CA was missing.
I also noticed that the `istio-ca-root-cert` had the intermediate instead of the root CA, probably because in Vault is the Intermediate signing the certificates. Is this behaviour in `istio-csr` intended?

After redeploying istio-csr pinning the ro

[2021-09-28 12:24] #105 closed

[2021-09-28 13:52] JoshVanL commented on #105
No problem @SantiMunoz, glad you got things working!

This is actually coming from Vault. By default, Vault will only respond with the intermediate when a request is signed through cert-manager. It is possible to make Vault return the full chain, but this method works equally well :)

[2021-10-01 12:18] Shourabh28 opened #106 "Helm chart is failing with "certificate.spec.revisionHistoryLimit" issue"
Below is the command I ran to deploy charts but getting issues for the same. Earlier the same thing worked for me but now I can't

$$ helm install -n cert-manager cert-manager-istio-csr jetstack/cert-manager-istio-csr --set agent.clusterID=cluster1 --set certificate.name=vault-istio-ca1-issuer --set certificate.preserveCertificateRequests=true --set agent.logLevel=3 --dry-run

[code]

[2021-10-01 14:45] JoshVanL commented on #106
Hi @Shourabh28, this is likely because you have an older version of cert-manager installed on the cluster. `revisionHistoryLimit` was introduced in cert-manager v1.3, which is the lowest compatible version with istio-csr.

[2021-10-01 17:49] Shourabh28 commented on #106
I was able to find that, `revisionHistoryLimit` got introduced in v1.3+.

But I am little confused that how this was running in my infra almost 10 days back. We are running cert-manager v1.0.1. Still istio-csr `v0.2.0` got deployed successfully and was running good 🤔

[2021-10-04 16:30] JoshVanL commented on #106
@Shourabh28 I am not sure how that is the case either, as the use of `revisionHistoryLimit` was introduced in [`v0.2.0`](https://github.com/cert-manager/istio-csr/releases/tag/v0.2.0). I'd double check istiod's Certificate on those other clusters.

[2021-10-20 08:41] SantiMunoz opened #107 "CA isn't properly propagated when using Vault"
Hello again, this is a related issue I have after setting up Vault as a CA #105. In the previous issue I was able to create a valid chain by specifying the CA in `istio-csr` using `app.tls.rootCAFile`.

Now I'm trying to setup the cluster from scratch and I've found an issue on the certificate chain used by istiod or istio-csr, not sure yet.
The problem I'm facing is that the istio ingress and egr

[2021-10-22 16:36] nicop311 opened #108 "[doc] confusion with `ca.pem` and Readiness probe failed on ingress and egress gateways"
Hello all,
In the [README.md](https://github.com/cert-manager/istio-csr/blob/78dec578c89e01f3d3e17c450a9c69324f7048e8/README.md), I am confused by this line `--from-file=ca.pem=ca.pem` in the section [Load root CAs from file ca.pem (Preferred)](https://github.com/cert-manager/istio-csr/blob/78dec578c89e01f3d3e17c450a9c69324f7048e8/README.md#load-root-cas-from-file-capem-preferred).

I do not know

[2021-11-03 17:47] keithmattix opened #112 "Feature Request - Certificate Request Timeout/Retries"
By design, [cert-manager does NOT retry failed `CertificateRequest`s](https://cert-manager.io/docs/concepts/certificaterequest/):

Furthermore, there is no timeout mechanism in place for CR's that stay in the "Pending" state for an unacceptable amount of time (often due to a transient or unrecoverable error communicating with the `Issuer`). I'd like to propose that both of these mechanisms be adde

[2021-11-09 15:13] JoshVanL commented on #112
Hi @keithmattix, thanks for opening the issue :slightly_smiling_face:

So this first point sounds like bad behavior of the _issuer_ implementation. An Issuer shouldn't really be leaving a request in a Pending state if it knows that a request cannot be completed. The issuer itself should actually be marking itself as not ready. Which Issuer are you using which is showing this behavior? Either its r

[2021-11-12 15:51] keithmattix commented on #112
@JoshVanL Thanks for those clarifications! The issuer I'm using is the Vault issuer. I'm completely on board with retries and timeouts being features for the more general issuer interface; I like the idea of end-users having more control over certificate issuance.

[2021-11-22 19:27] keithmattix commented on #112
My apologies, I'm looking back and realizing the issue I was running into was with the _root_ Istio certificate in the helm chart; not an intermediate certificate generated automatically with istio-csr.

[2021-11-22 19:27] #112 closed

[2021-11-24 21:52] sepulworld opened #113 "Integrating with istio helm chart installs"
Does anyone have any example values inputs when integrating istio-csr with an istio operator setup using Helm https://istio.io/latest/docs/setup/install/helm/

I see istio-csr refers to this https://github.com/cert-manager/istio-csr/blob/main/hack/istio-config-1.10.0.yaml but does anyone have a translation of this to the istio/istiod helm chart install?

[2021-12-07 19:42] smarunich opened #115 "What is minimum supported version of cert-manager itself for istio-csr extension?"
We have cert-manager v1.3.1, will be it supported with istio-csr v0.3?

[2021-12-07 20:08] JoshVanL commented on #115
Hi @smarunich, v1.3.1 is fine (see [README.md](https://github.com/cert-manager/istio-csr#istio-csr)) but we always recommend keeping your cert-manager up to date! v1.3 is no longer supported as per https://cert-manager.io/docs/installation/supported-releases/

[2021-12-08 09:43] smaruni-BRONGA commented on #115
thank you @JoshVanL, that answers my question.

[2021-12-08 09:43] smarunich commented on #115
Thank you @JoshVanL for the prompt response, that answers my question!

[2021-12-08 09:43] #115 closed

[2021-12-14 12:12] smarunich opened #117 "public ca.crt aka caBundle is not being updated/propagated until the cert-manager and istiod components are restarted"
When ca.crt value is updated - it's not being propagated through the cert-manager and istiod sidecars are hitting the well-known issue below: https://istio.io/latest/docs/ops/common-problems/injection/#x509-certificate-related-errors

with the following error message:

[code]

Restarting istiod does not address the issue, the cert-manager stack has to be restarted as well in order to address ca.cr

[2021-12-16 16:27] SgtCoDFish commented on #32
This has been inactive for a while with no replies so I'll close. I think Josh's statement above is pretty clear (and is still true today I think):

[2021-12-16 16:27] #32 closed

[2021-12-16 17:56] SgtCoDFish opened #118 "E2E tests running against the wrong k8s version"
E.g. for [pull-cert-manager-istio-csr-k8s-v1-22-istio-v1-11](https://prow.build-infra.jetstack.net/view/gs/jetstack-logs/pr-logs/pull/cert-manager_istio-csr/116/pull-cert-manager-istio-csr-k8s-v1-22-istio-v1-11/1471230153399996416)

With [this build YAML](https://prow.build-infra.jetstack.net/prowjob?prowjob=a381bb47-5ded-11ec-848a-72115d172d36):

[code]

Producing [these logs](https://storage.goo

[2021-12-23 21:50] kambei opened #119 "The link for download manifest is broken"
The command
`curl -sSL https://raw.githubusercontent.com/cert-manager/istio-csr/main/docs/istio-config-getting_started.yaml > istio-install-config.yaml`

generate a file with "404" content.

The link is broken.

[2022-01-06 15:12] hawksight commented on #119
the `_` needs to be a `-`

[code]

I'll try to PR that to the docs soon.

[2022-01-20 07:48] anannaya opened #122 "Multi-cluster Private CA Root Cert , how do i identify the cluster identity on workloads ."

[2022-01-20 07:50] anannaya opened #123 "Multi-cluster Private CA Root Cert , how do i identify the cluster identity on workloads ."
Steps followed.

1. helm_v3  install \
  cert-manager jetstack/cert-manager \
  --namespace istio-system \
  --set installCRDs=true
2. kubectl create secret tls root-ca-key-pair --cert=root-cert.pem --key=root-key.pem --n istio-system
3.
kubectl apply -n istio-system -f - <<EOF
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: root-ca-key-pair
  namespace: istio-system
spec:
  ca:

[2022-01-20 07:52] anannaya commented on #123
Basically i am looking some cluster level identity on workloads
[code]

[2022-01-24 11:31] hawksight commented on #119
I think this can be closed as it's resolved in https://github.com/cert-manager/istio-csr/pull/121/files

[2022-01-24 16:48] alandiegosantos opened #125 "Allow configuring filter for namespaces to create the RootCA ConfigMap"
istio-csr starts a control-loop that creates a ConfigMap _istio-ca-root-cert_ containing the Root Certificate used by istio-proxies.
Not all namespaces requires this ConfigMap since no istio-proxy is deployed there or the Root CA bundle is distributed in a different manner.

Given this context, a parameter to allow filtering the namespaces that receives the configmap, similar to _istio-injection=e

[2022-01-26 14:11] JoshVanL commented on #119
/close

[2022-01-26 14:12] #119 closed

[2022-01-26 14:12] JoshVanL commented on #122
Looks like a duplicate of #123 which includes a description, so will close this in favour.

/close

[2022-01-26 14:12] #122 closed

[2022-01-26 14:15] JoshVanL commented on #123
Hi @anannaya. Some suggestions for encoding cluster information inside the workload identity certificate would be 1. a distinct trust domain for each cluster (`cluster-1.my-trust.domain`, `cluster-2.my-trust.domain`), or 2. Use distinct Issuer names (`Issuer: CN = foo-cluster-1`, `Issuer: CN = foo-cluster-2`)

[2022-01-27 11:54] anannaya commented on #123
I have used 2 intermediate certs with different CN to overcome this. Thanks for help

[2022-01-27 11:54] #123 closed

[2022-02-01 21:52] keithmattix commented on #113
Bumping this: IstioOperator is now [discouraged](https://istio.io/latest/docs/setup/install/operator/). It would be great to have some instructions for how to set this up with native Helm

[2022-02-02 09:39] anannaya opened #129 "Getting remote error: tls: bad certificate with istio 1.12.2"
Can anyone help me how to debug this issue
`
{"level":"info","time":"2022-02-02T09:21:52.941064Z","msg":"http: TLS handshake error from 10.15.0.59:48924: remote error: tls: bad certificate"}
{"level":"info","time":"2022-02-02T09:24:36.574966Z","msg":"http: TLS handshake error from 10.15.0.59:49800: remote error: tls: bad certificate"}
{"level":"info","time":"2022-02-02T09:30:45.256373Z","msg":"htt

[2022-02-03 05:00] anannaya commented on #129
SIdec

[2022-02-03 05:00] #129 closed

[2022-02-03 05:39] SpectralHiss opened #130 "Document best-practices for minimal vault role configuration for istio-csr"
When configuring a Vault issuer for istio-csr, the least privileged Vault role configurations are not very obvious.

We have been through this particular problem recently and can supply a quick guide around minimal policy for any PKI engine role that is dedicated to istio-csr cert issuance.

We could even show a fully worked example in kind in an examples/ directory under docs/ ?

[2022-02-03 09:21] anannaya opened #131 "metrics to check certificate expiry for istio workloads ?"
s there any metrics get cert exipry for istio workloads ? I  can only get the istiod and rootCA/intermedia CA from the  certmanager_certificate_expiration_timestamp_seconds metric.

[2022-02-03 10:29] JoshVanL commented on #131
Hi @anannaya, AKAIK istio only exposes the following Prometheus metric, which is not very useful for certificates that are signed with a TTL =< 24h.

[code]

What is the objective of getting this metric? Perhaps there may be other metrics which indicate the same behaviour, such as `cert_manager_istio_csr_tls_provider_certificate_requests` on istio-csr.

[2022-02-03 10:30] JoshVanL commented on #125
Fixed in #126
/close

[2022-02-07 09:50] SpectralHiss opened #132 "Allow override of istiod-tls certificate common name in helm chert (for non-standard istiod deployments)"
Hello

The current istio-csr helm chart deploys the `istiod-tls` serving certificate as a cert-manager `Certificate` object at installation,
As you can see in [link](https://github.com/cert-manager/istio-csr/blob/43131ddc7a9d13c86ff21a98b6c55e45c160fec5/deploy/charts/istio-csr/templates/certificate.yaml#L7), the common name is statically set to: `istiod.istio-system.svc`.

In certain installations

[2022-02-08 10:22] smarunich opened #133 "latest supported cert-manager version with cert-manager-istio-csr?"
we are looking to upgrade cert-manager and one of the questions we have it's what is the latest support cert-manager version with cert-manager-istio-csr 0.3.0?

[2022-02-14 12:21] JoshVanL commented on #133
Hi @smarunich, all tests successfully pass against cert-manager `v1.7`

[2022-02-23 14:30] irbekrm opened #136 "Document available metrics"
It could be useful to document available metrics (both from istio-csr and cert-manager, or link to cert-manager metrics doc if https://github.com/cert-manager/website/issues/850 gets implemented) in a way that users who have are migrating from Citadel can see a comparison, see the Citadel metrics in [here](https://www.datadoghq.com/blog/istio-metrics/#citadel-metrics) (I did not find it documented

[2022-02-28 20:16] srinisudharsan opened #137 "Documentation on rotating the root certificate"
While it is not common, there is always the possibility that one would have to rotate the root CA. Could you add documentation on how to do it without downtime?

[2022-03-07 04:39] SachinHg opened #138 "istio-csr doesn't retry upon failed certificate requests"
Hi all,
I am using istio-csr with cert-manager where vault is used as the CA on my istio mesh. I am running into the below issue.

When I try to deploy a workload pod on the istio mesh, I see errors in the events of the namespace

`Error creating: Internal error occurred: failed calling webhook "namespace.sidecar-injector.istio.io": Post "https://istiod.istio-system.svc:443/inject?timeout=10s": x5

[2022-03-25 07:45] anannaya opened #141 "Istio-csr pod was hung due to this Entire cluster downtime for new pods."
We are running with cert-manager-istio-csr  2 pods ,
one pods was hung at
`
2022-03-25T06:54:19.315736Z	error	klog	Failed to update lock: Operation cannot be fulfilled on configmaps "istio-csr": the object has been modified; please apply your changes to the latest version and try again
`
And other actual leader one hung at
`
etcd timeout
`
Due to this no csr requests was handled for the pods , So

[2022-03-25 11:18] anannaya commented on #141
So almost 4hour istio-csr was not serving any request .

[2022-03-25 11:25] anannaya commented on #141
After rolling restart new errror messages started to come
[code]

[2022-03-25 13:14] JoshVanL commented on #141
Hi @anannaya,

Can you please share the istio-csr version and configuration you used. Sharing your kube and istio version will also help.

Can you please set the logging to debug (`--v=5`). It is not clear to me that istio-csr is actually hanging here.

This suggests that your etcd is under resourced. Are their other system components experiencing the same errors? What are the logs of the API serv

[2022-03-25 13:40] anannaya commented on #141
istio-csr version is --> 0.3.0
kubernetes version -->  v1.19.13-eks-8df270

This suggests that your etcd is under resourced. Are their other system components experiencing the same errors? What are the logs of the API server?
--> We use AWS EKS , i totally agree there might be intermediate control-plane network issues, but there should be retry ? OR other istio-csr pod should take care.

Now . I h

[2022-03-29 14:39] anannaya opened #144 "add a support kubernetes client QPS and Burst config"
![image](https://user-images.githubusercontent.com/19487932/160636730-828c4db8-5c96-45aa-a0f9-9196148bac4f.png)
We observed issue related to throttling, If we could get a option to reconfigure these parameter that  would be helpful .
[code]

[2022-04-09 11:14] shinderupesh opened #145 "Not able to use Istio-CSR in istio(1.13.*)"
### Bug Description

I am using Istio (v1.13.*) in my setup. Also I using [Istio-CSR][1] for assigning self signed certs in my setup using ISTIO.

But while [validating certs][2] in setup I am not able to see expected output for following command:
 <pre>kubectl logs $(kubectl get pod -n $NAMESPACE -o jsonpath="{.items...metadata.name}" --selector app=$APP) -c istio-proxy</pre>

<pre>Expected outpu

[2022-04-12 09:39] shinderupesh commented on #145
@JoshVanL Thanks for your response.

[2022-04-21 22:01] braunsonm commented on #137
Also would like to know this. Is it possible since you'd need to trust the old and new at the same time?
We were actually looking to use an intermediate CA so would it be possible to trust the root, renew the intermediate, then change back to only trusting the intermediate?

[2022-04-21 22:58] Fr0zenBoy commented on #105
@SantiMunoz I'm having the same problem, but I'm using an external issuer, can you show me the configuration to do this:
After redeploying istio-csr pinning the root CA I can correctly see the CA propagated to istio-ca-root-cert and the service-to-service communication works as expected.
Thanks a lot for the help on this!

[2022-05-02 04:06] hyacin75 opened #149 "istio-csr "failed to generate workload certificate" while regular cert-manager certs generate fine against same issuer"
Done this install successfully on two other clusters this weekend, the third is giving me headaches.

Following several tutorials, cobbled together and then updated as needed ... example - https://medium.com/everything-full-stack/how-to-integrate-vault-as-external-root-ca-with-cert-manager-istio-csr-and-istio-7684baa369db

The other two clusters are happy as anything and all mTLS is using certs fr

[2022-05-03 16:44] ajp-lsq commented on #113
Third bump, trying to figure this out right now.

In case anyone else is working on this, what I've found so far is `.global.mountMtlsCerts` in the istio/istiod helm chart (version 1.13.0 at least). Looks like this affects `files/gen-istio.yaml` in the istiod helm chart, mounting volumes and volume mounts as such:

[code]

[code]

It does the same thing in `files/gateway-injection-template.yaml` a

[2022-05-05 19:19] rgruchalski-klarrio opened #152 "Namespace cannot be overwritten with helm template"
It would be awesome if the chart allowed overwriting the namespace of the:

- deployment.apps/cert-manager-istio-csr
- service/cert-manager-istio-csr
- service/cert-manager-istio-csr-metrics
- the istio-csr pod (replica set)
- service account

Currently, when doing:

[code]

into a kustomization, and kubectl apply -k of the resulting yaml, those resources end up in the default namespace.

[code]

[2022-05-05 19:46] Fr0zenBoy opened #153 "It is possible to have several CAs within the same cluster."
Is it possible to have more than one CA within istio-csr? Yes how do you configure it?

The second question is how can I configure which CA my side car will get certificates through annotations or some declaration method?

[2022-05-07 17:19] hyacin75 commented on #149
Now I'm getting the same on a totally different cluster built with microk8s and all amd64 ... very stumped, three clusters no problem, two clusters this problem.  Wish the output from any of the pieces was more descriptive and explained what was going on better.

[2022-05-07 17:22] JoshVanL commented on #149
Hi @hyacin75, this looks like a duplicate of https://github.com/cert-manager/istio-csr/issues/85#issuecomment-897057232

Can you try setting the cluster name on istio-csr?

[2022-05-09 04:24] hyacin75 commented on #149
Sadly that already is in my filled out template from the tutorial -

`helm --kube-context="hcloud" install -n cert-manager cert-manager-istio-csr jetstack/cert-manager-istio-csr --set app.clusterID=hcloud --set app.certmanager.issuer.name=vault-istio-ca-hcloud-issuer --set app.logLevel=3`

I did rip it out and try again just to be 100% sure, but got the same as above again.

Does it need to match

[2022-05-09 04:31] #149 closed

[2022-05-10 14:24] atoy3731 opened #155 "Invalid certificate chain when using Vault with Intermediate CA"
I'm using the following script to try to test using Vault for my Istio CA, but when using `curl` to between 2 istio-injected pods, I get `CERTIFICATE_VERIFY_FAILED`:

[code]

When running this command to test:
[code]

It appears the certificate chain is invalid and it can't get the local issuer certificate:
[code]

This *only* seems to be an issue when I'm using the intermediate CA from the above

[2022-05-11 02:07] sepulworld commented on #113
@ajp-lsq can you ping us here when you have PR on upstream chart or reference this issue in PR? Thanks for the help!

[2022-05-18 11:03] SpectralHiss opened #156 "Add imagepull secret parameter for istio-csr helm chart"
This is needed in case the image has been mirrored to a private cloud registry for example.

[2022-06-02 14:56] marcingy commented on #153
I have a similar question related to having a CA for each mesh that we have in a cluster. The intent is too potential highly isolate some workloads.

[2022-06-13 16:57] ceastman-r7 opened #161 "updating ConfigMap data doesn't stop"
helm chart version:v0.4.2 for istio-csr

The log entry updating ConfigMap data just keeps repeating for all the namespaces in the cluster.

2022-06-13T16:23:06.577141Z     info    klog     "msg"="-----------------------------------------------------------------"
2022-06-13T16:23:06.577166Z     info    klog     "msg"="Using root CAs from file: /var/run/secrets/istio-csr/ca.crt"
2022-06-13T16:23:06.

[2022-06-13 17:25] JoshVanL commented on #161
Hi @ceastman-r7, do you mean it is repeated once for each namespace, or is continuously logged for every namespace over and over again?

If the latter, then this suggests that some other entity (like istiod) is also attempting to write to these namespaces which will thrash both controllers.

[2022-06-13 17:38] ceastman-r7 commented on #161
continuously logging.

Oh could istiod be trying to reset it back to the self signed certificate?

[2022-06-13 17:40] JoshVanL commented on #161
Yes, sounds like to me istiod might be missing this configuration

https://github.com/cert-manager/istio-csr/blob/4200304ed29471f4bde2c499da7e60614e69efeb/hack/istio-config-1.13.4.yaml#L20

[2022-06-13 17:42] ceastman-r7 commented on #161
yeah i havent switched the istio config yet. thank you.

[2022-06-13 18:47] ceastman-r7 commented on #161
Do you have a values.yaml override file that can be used with helm instead of an istiooperating yaml to accomplish: https://github.com/cert-manager/istio-csr/blob/main/docs/istio-config-getting-started.yaml

[2022-06-13 19:10] JoshVanL commented on #161
This thread should be of help 🙂

https://github.com/cert-manager/istio-csr/issues/113

[2022-06-14 13:17] ceastman-r7 commented on #113
@ajp-lsq I am also interested in this work. Thank you.

[2022-06-30 14:54] tabnul commented on #113
Did you allready PR your changes to the upstream project?
Thanks!

[2022-07-15 14:22] tabnul opened #168 "Istio + AWS PCA reports - no subject"
We are using istio together with AWS PCA.

All works fine, certificates get created.
However, AWS PCA reports do not report the SAN attributes, they only log the subject.

This means that when using Istio, this AWS PCA will be full of untraceable certificates. (subject: O=)
While i do understand this is in principle an AWS PCA issue, it would be very handy to have the CN filled in with something r

[2022-07-27 11:13] #156 closed

[2022-07-27 15:50] JoshVanL commented on #168
Hi @tabnul, unfortunately istio-csr isn't able to re-write the contents of the certificate signing request that istio workloads make. To implement this would require either changes in istio, or setting on your issuer (in this case AWS PCA).

I'm going to close this for now since there is nothing this project can do.

[2022-07-27 15:50] JoshVanL commented on #168
/close

[2022-07-27 15:50] #168 closed

[2022-07-29 05:04] shinderupesh opened #175 "Issue while setup istio-CSR"
I am trying to setup [Istio-CSR](https://github.com/cert-manager/istio-csr/blob/v0.4.0/docs/getting_started.md). But getting following issue while deploying istio-CSR helm chart:

[code]

`Error: template: cert-manager-istio-csr/templates/serviceaccount.yaml:3:7: executing "cert-manager-istio-csr/templates/serviceaccount.yaml" at <ne .Values.image.pullSecretName "">: error calling ne: incompatible

[2022-07-29 05:31] shinderupesh commented on #175
Looks like this issue is coming while deploying latest(0.5.0) helm chart of [cert-manager-istio-csr](https://artifacthub.io/packages/helm/cert-manager/cert-manager-istio-csr/0.5.0). If you use `cert-manager-istio-csr` of version v0.4.2 this issue is not coming. I don't exact reason of this failure in latest release.

Is there any changes in deployment command?

Thanks

[2022-07-29 09:40] JoshVanL commented on #175
Hi @shinderupesh, I think this might be a problem with Helm rather than the Chart.

I have been able to reproduce the error when using the same version as yourself (`v3.5.2`), however the error is not present when using at least `v3.8.2`.

Can you update your helm installation to a higher version and test whether you get the same?

[2022-08-02 12:36] hari-vamsikrishna opened #176 "certificateDuration is not used for the Istio CSR generated certificate requests"
istio-csr generated certificates for the workloads is not using the "certificateDuration" parameter from the values.yaml.
The certificaterequests generated by the istio-csr are generated with "duration: 24h0m0s" instead of using the "certificateDuration" parameter from the values.yaml.

[2022-08-02 15:07] JoshVanL commented on #176
Hi @hari-vamsikrishna, you can change the maximum requested duration using the istio-csr flag `--max-client-certificate-duration=1h` however is istio workloads request for shorter than that, then istio-csr will request that duration.

[2022-08-03 09:15] hari-vamsikrishna commented on #176
Hi @JoshVanL,
  Thank you for the super quick response 👍 .
  Yes, i see the flag set as specified from the helm chart values.yaml --max-client-certificate-duration=720h
  But, the scene is, Istio-csr (with AWS PCA integration) and istio is deployed in the eks cluster. I have deployed the httpbin from the https://raw.githubusercontent.com/istio/istio/1.11.7/samples/httpbin/httpbin.yaml. And, I see

[2022-08-03 15:37] spstarr opened #177 "Unable to start istio-ingressgateway unknown service istio.v1.auth.IstioCertificateService"
Following https://cert-manager.io/docs/tutorials/istio-csr/istio-csr/#installing-istio

I tried `istio` 1.13.5 and 1.14.3 versions

istio-csr helm install:

[code]

Errors:

[code]

my IstioOperator config:

[code]

[2022-08-03 15:46] spstarr commented on #177
Going to try chart v0.4.2 of istio-csr...

[2022-08-03 15:56] spstarr commented on #177
Same error:

Even with older, `cert-manager` newest
[code]

[2022-08-03 18:48] spstarr commented on #177
I am seeing this in the `istio-proxy` container its not setting CA_ADDR right

[2022-08-03 19:45] spstarr commented on #177
Maybe im not understanding but the `istioctl` manifest generating shows this for the helm chart:

[code]

I am trying to use this `istioOperator` config and it is still not setting CA_ADDR?

[code]
Can someone explain why this is not setting `CA_ADDR` correctly?

[2022-08-03 19:47] spstarr commented on #177
Moving to `istio` folks this is their bug

[2022-08-03 19:47] #177 closed

[2022-08-04 04:33] shinderupesh commented on #175
Hi @JoshVanL, yes I am able to use Istio-CSR`(v0.5.0)` with Helm `v3.8.2`.

Thanks for the response.

[2022-08-04 07:14] #175 closed

[2022-08-04 22:27] caleygoff-invitae commented on #152
yes please. we install these components into a namespace called `cert-manager`.

[2022-08-09 15:41] ethompsy commented on #141
Well, we were thinking about putting it in production until we saw this post. Was there any further resolution since March?

[2022-08-15 11:42] isality opened #178 "cant install chart v0.5.0"
h1 there

i cant install  v0.5.0. I got error:

[code]

I added  `pullSecretName: ""` in `values.yaml`, object  `image` and helm template works fine. Could your check this?

[2022-08-16 14:38] JoshVanL commented on #178
Hi @isality, this looks to be a duplicate of https://github.com/cert-manager/istio-csr/issues/175
Can you update your helm version, and try again?

[2022-08-17 07:06] isality commented on #178
H1!

I updated helm to `version.BuildInfo{Version:"v3.9.3", GitCommit:"414ff28d4029ae8c8b05d62aa06c7fe3dee2bc58", GitTreeState:"clean", GoVersion:"go1.17.13"}`

And right now i can do `helm template istio-csr ./`

[code]

But i think it's not okay, when a non-existent field is accessed. See https://github.com/cert-manager/istio-csr/blob/v0.5.0/deploy/charts/istio-csr/templates/serviceaccount.yaml#

[2022-08-17 07:31] JoshVanL commented on #178
Could you explain this a bit more, I’m not sure I follow?

[code]

[2022-08-17 07:31] JoshVanL commented on #178
Could you explain this a bit more, I’m not sure I follow?

[code]

[2022-08-17 07:56] isality commented on #178
Ok, see

Your trying to get value `.Values.image.pullSecretName` [here](https://github.com/cert-manager/istio-csr/blob/v0.5.0/deploy/charts/istio-csr/templates/serviceaccount.yaml#L3), but in [values.yaml](https://github.com/cert-manager/istio-csr/blob/v0.5.0/deploy/charts/istio-csr/values.yaml#L4) your haven't  a field pullSecretName in object image.

[2022-08-17 20:06] nitishkrishna commented on #178
+1 seeing the same issue, its referring to a non-existing value

[2022-08-21 21:08] kekbur commented on #155
I'm encountering this issue too with the following versions:

* Istio: 1.14.1
* Cert-Manager: 1.9.1
* Istio CSR: 0.5.0 (chart), 0.5.0 (app)
* Vault: 1.11.2

[2022-08-22 08:55] kekbur commented on #155
Update: I was able to fix the issue by combining the intermediate certificate and the root certificate and passing the resulting file to Istio CSR as rootCAFile.

[code]

As shown in atoy3731's openssl s_client log dump, the intermediate certificate is printed twice, but both openssl and curl are happy.

`kubectl --context "$CTX_CLUSTER1" exec -n default deployment/helloworld-v1 -c istio-proxy --

[2022-10-03 20:40] konnoska opened #180 "Metrics scraped twice"
Setting the following values:

[code]
Creates a servicemonitor that targets both `<istio-csr-servicename>-metrics` and `<istio-csr-servicename>` resulting in pod metrics being scraped twice.

[2022-10-17 12:02] #180 closed

[2022-11-04 23:52] nitishkrishna commented on #138
+1 @JoshVanL can you please look into this, its a critical issue for us as Vault can be temporarily available for maintenance

[2022-11-05 00:01] nitishkrishna commented on #138
During a recent vault outage, many of our clusters didn't have their certs auto-renewed with the below error:
[code]
VaultIssuer recovered but new CSR was never made and this one was never eventually signed

[2022-11-08 14:08] craigmunro commented on #178
Same problem here.  I've raised https://github.com/cert-manager/istio-csr/pull/182 to fix

[2022-11-09 12:41] #178 closed

[2022-11-21 18:59] dondsouza opened #184 "Subject Name in CSR"
Hello, I am trying to integrate Istio with the Venafi TPP CA using cert-manager and cert-manager-istio-csr. I was installing cert-manager-istio-csr using the instruction outlined [here](https://cert-manager.io/docs/tutorials/istio-csr/istio-csr/) using helm.

helm install -n cert-manager cert-manager-istio-csr jetstack/cert-manager-istio-csr --set "app.tls.rootCAFile=/var/run/secrets/istio-csr/ca.

[2022-11-23 14:32] dondsouza commented on #184
Closing this "issue" as it seems to be "expected" behavior and cannot be overridden.

https://github.com/cert-manager/istio-csr/issues/168

[2022-11-23 14:32] #184 closed